* {
    box-sizing: border-box;
}

body {
    background-color: rgb(11, 93, 121);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.main-header {
    background:#458bc3;
}

.main-navbar {
    background:#458bc3;
}

.overview-wrapper {
    background:#458bc3;
    display: flex;
}

.overview-child {
    flex: 1;
    border: 2px solid yellow;
}

.overview-child:first-child {
    margin-right: 20px;
    margin-left: 40%;
}

.overview-child:last-child {
    margin-right: 40%;
}

.form-wrapper {
    background:#458bc3;
    display: flex;
}

.form-child {
    flex: 1;
    border: 2px solid yellow;
    max-width: calc(10% - 10px);
}

.form-child:first-child  {
    margin-right: 20px;
    margin-left: 40%;
}

.form-child:last-child  {
    margin-right: 40%;
    
}

.form-element {
    margin-top: 5px;
    margin-bottom: 5px;
}